/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-weight: bold;
}

/*===================CABECERA==========================*/
header {
    background-color:#1b2a4e;
    min-height: 40px;
}

header p {
    color: #f3f3f3;
    text-align: center;
}

#logo {
    font-size: 16px;
    padding: 0 6px;
    color: #f3f3f3;
}

/*===================MENU==========================*/

#menu a,
button {
    font-size: 18px !important;
    font-weight: 600;
}

#menu a {
    color: #3f3f3f;
}

.logo{
    width: 80px;
    padding: 10px 0;
}


/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
    max-height: 39rem !important;
}

.carousel-caption {
    position: absolute;
    top: 40%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: rgb(255, 255, 255);
    text-align: left;
}


.icono:hover{
    border-radius:50%;
    -webkit-border-radius:20%;
    box-shadow: 0px 0px 15px 15px #1a5fe0;
    -webkit-box-shadow: 0px 0px 15px 15px #1a5fe0;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    }


    /*===========================SECCION LOCAL==================================*/

#numeros-local {
    margin: 0 !important;
    padding: 0 !important;
}

#numeros-local div {
    padding: 0 20px 0 0;
    text-align: left;
    height: 48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
}

#numeros-local div:not(:first-child) {
    padding-left: 20px;
}

#numeros-local p {
    margin: 0;
}


/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 40px;
    ;
}

footer p {
    color: #f3f3f3;
    text-align: center;
}

#iconos i {
    font-size: 16px;
    padding: 0 6px;
    color: #f3f3f3;
}


/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px) {
    #intro,
    #equipo {
        width: 90% !important;
        margin: auto;
    }
    #local {
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .wrapper-local {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}


/*=========================MEDIA QUERIES PANTALLA SM================================*/

@media (max-width:768px) {
    #intro,
    #equipo {
        width: 90% !important;
        margin: auto;
    }
    #img-equipo {
        max-height: 20rem !important;
        width: 90%;
    }
    .wrapper-local {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width: 100%;
        height: auto;
    }
    #bg-contactos {
        top: -120px;
    }
}


/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #platos-fila-2 {
        width: 100% !important;
    }
    #platos-fila-1 {
        width: 100% !important;
    }
    .icono-wrap {
        flex-wrap: wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}